<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.demo.mapper.UserMapper">
    <resultMap id="result" type="com.boot.demo.entity.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="number" column="number"/>
    </resultMap>

    <select id="getUserInfo" resultMap="result">
		SELECT * FROM user where  id=#{userId}
	</select>

    <select id="userLogin" resultMap="result">
		SELECT * FROM user where name=#{userName} and password=#{passWord}
	</select>

    <insert id="insertUser" parameterType="com.boot.demo.entity.User"
            keyProperty="id" useGeneratedKeys="true">
	  INSERT INTO user
		(
		id,name,password,number
		)
		VALUES (
		#{id},
		#{name, jdbcType=VARCHAR},
		#{password, jdbcType=VARCHAR},
		#{number}
		)
	</insert>

    <delete id="delete" parameterType="int">
		delete from user where id=#{id}
	</delete>

    <update id="Update" parameterType="com.boot.demo.entity.User">
	update user set user.name=#{name},user.password=#{password},user.number=#{number} where user.id=#{id}
	</update>
</mapper>
